.right-click-popup-context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    word-wrap: break-word;
  }
  
  .right-click-popup-context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
  }
  
  .right-click-popup-context-menu li {
    padding: 5px 10px;
    cursor: pointer;
    word-wrap: break-word;
  }
  
  .right-click-popup-context-menu li:hover {
    background-color: #f0f0f0;
  }